html, body {
  height: 100%;
}

body {
  background-color: #16191F !important;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr;
  font-size: 16px;
  font-family: Roboto, 'Arial', sans-serif;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

#root {
  display: grid;
  grid-template-rows: 1fr;
}

@keyframes move-left { from { transform: translateX(-100%); } to { transform: translateX(0); }}